<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
}
<meta charset="utf-8" />
<div id='app'>Loading...</div>

@section scripts {
    <script charset="utf-8" src="~/dist/main.js" asp-append-version="true"></script>
}